body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.stripe-task-center {
    margin-top: 20px; 
}

.stripe-task-center img {
    width: 300px;
    height: 300px;
    display: block; 
    margin: 0 auto; 
}

.stripe-task-center button {
    margin-top: 10px; 
}